.app-badge {
  line-height: normal;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}

.app-bg-soft-success {
  background-color: rgba(0, 201, 167, .1) !important;
}

.app-bg-soft-danger {
  background-color: rgba(237, 76, 120, .1) !important;
}

.app-bg-text-body {
  font-size: 0.8125rem;
  color: rgb(103, 119, 116);
}