<nz-row #nzRow [nzGutter]="config.gutter" cdkDropList #dropList (cdkDropListDropped)="onDrop($event)"
        [cdkDropListData]="cols" [cdkDropListOrientation]="'horizontal'"
        nz-form [nzLayout]="config.layout" class="indicator-bd cdk-drag-animating"
        style="min-height: 70px;border-radius: 4px;margin: 1px 0;padding: 15px 4px">

    @for (item of cols; let i = $index; track item) {
        <div #ele nz-col [nzSpan]="item.config?.dyColSpan" class="cdk-drag py-3 indicator-bd" cdkDrag>
            <ng-container *dyCol="item;index:i;parent:ele"></ng-container>
        </div>
    }

</nz-row>


<ng-template #cfgTpl>
    <nz-tabset [(nzSelectedIndex)]="config.tabIndex">
        <nz-tab nzTitle="外观">
            <div nz-form nzLayout="horizontal">

                <nz-form-item>
                    <nz-form-label>列间隔<span nz-icon [nzType]="'question-circle'" nz-popover
                                               nzPopoverContent="像素,推荐16+8n"></span></nz-form-label>
                    <nz-form-control>
                        <nz-input-number style="width: 100%" [nzMin]="0" [nzStep]="8"
                                         [(ngModel)]="config.gutter"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>布局<span nz-icon [nzType]="'question-circle'" nz-popover
                                             nzPopoverContent="只有主布局是水平布局时有效"></span></nz-form-label>
                    <nz-form-control>
                        <nz-radio-group [(ngModel)]="config.layout">
                            <label nz-radio [nzValue]="'horizontal'">水平</label>
                            <label nz-radio [nzValue]="'vertical'">垂直</label>
                            <label nz-radio [nzValue]="'inline'">内联</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>

            </div>
        </nz-tab>
        <nz-tab nzTitle="高级">
            <nz-divider nzPlain nzText="联动" nzOrientation="center"></nz-divider>
            <nz-form-item>
                <nz-form-label>true时隐藏</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: field=='123'" [(ngModel)]="config.cascade"/>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
    </nz-tabset>

</ng-template>