<nz-spin [nzSpinning]="loading">
    <app-backward></app-backward>
    <nz-card class="card-shadow card-radius search-card important-mt-5">
        <div nz-form [nzLayout]="'inline'">
            <!--<nz-form-item>
                <nz-form-label>流程定义ID</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="bodyParams.definitionId" [readonly]="true">
                </nz-form-control>
            </nz-form-item>-->
            <nz-form-item>
                <nz-form-label nzRequired>申请日期</nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="createTimeGe" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
                    ~
                    <nz-date-picker [(ngModel)]="createTimeLe" [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>申请编号</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="bodyParams.id" (keydown.enter)="query()">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>申请人ID</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="bodyParams.starter" (keydown.enter)="query()">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>申请部门</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="bodyParams.deptName" (keydown.enter)="query()" placeholder="部门全名">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>申请状态</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="bodyParams.status" style="width: 90px">
                        <nz-option nzValue="" nzLabel="全部"></nz-option>
                        <nz-option nzValue="CANCEL" nzLabel="已撤销"></nz-option>
                        <nz-option nzValue="RUNNING" nzLabel="运行中"></nz-option>
                        <nz-option nzValue="SUCCESS" nzLabel="已通过"></nz-option>
                        <nz-option nzValue="FAILED" nzLabel="已失败"></nz-option>
                    </nz-select>
                    <!--                    <input nz-input [(ngModel)]="bodyParams.starterName">-->
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>内容</nz-form-label>
                <nz-form-control>
                    <input style="width: 300px;" nz-input [(ngModel)]="bodyParams.content" (keydown.enter)="query()"
                           [autofocus]="true" placeholder="模糊搜索">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <button nz-button [nzType]="'primary'" (click)="query()">
                    <span nz-icon [nzType]="'search'"></span>查询
                </button>
            </nz-form-item>
            <!-- 导出需要有导出权限 -->
            <ng-container *acl="'pexp'">
                <nz-form-item>
                    <button nz-button [nzType]="'primary'" nz-popconfirm
                            nzPopconfirmTitle="系统导出上限为1万条，若超过1万请分批导出"
                            (nzOnConfirm)="download()">
                        <span nz-icon [nzType]="'download'"></span>导出
                    </button>
                </nz-form-item>
            </ng-container>
        </div>
    </nz-card>

    <br>

    <div infinite-scroll (scrolled)="scrollQuery()" [scrollWindow]="true" class="search-result"
         [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500">
        <ng-container *ngFor="let item of list">
            <nz-card class="card-radius scroll-item">
                <div class="flex justify-between items-center fw-bold mb-1">
                    <div>
                        <span class="text-base text-gradient bg-gradient-danger fw-bold">{{item.id}}</span>
                        <nz-divider nzType="vertical"></nz-divider>
                        <span>{{item.name}}</span>
                    </div>
                    <div>
                        <a [routerLink]="'/process/process-detail'" [queryParams]="{id:item.id}">
                            <span nz-icon nzType="search"></span>
                            详情
                        </a>
                    </div>
                </div>
                <nz-tag [nzColor]="item.status|dict:'instanceStatus':'color'">{{item.status|dict:'instanceStatus':'status'}}</nz-tag>
                <div *ngIf="item.isHighlight;else idxContentTpl"
                     class="my-2 text-base text-gray-500 my-2 highlight line-clamp-3"
                     [innerHTML]="item.highlight.join('......')"></div>
                <ng-template #idxContentTpl>
                    <div class="my-2 text-base text-gray-500 my-2 highlight line-clamp-3"
                         [innerText]="item.content"></div>
                </ng-template>
                <div class="flex justify-between mt-3">
                    <div class="text-gray-500">
                        <span nz-icon nzType="user"></span>
                        <strong class="mx-2 text-cyan-600">{{item.starterName}}({{item.starter}})</strong>
                        <span>{{item.deptName}}</span>
                    </div>
                    <div class="text-gray-500">申请于 {{item.createTime}}</div>
                </div>
            </nz-card>
        </ng-container>
    </div>
</nz-spin>