<nz-form-item>
    <nz-form-label [nzSpan]="config.labelSpan" [nzNoColon]="config.noColon"
                   [nzRequired]="config.required">{{ config.label }}
    </nz-form-label>
    <nz-form-control [nzValidateStatus]="status" [nzSpan]="config.span" [nzErrorTip]="config.msg">
        <textarea nz-input [disabled]="config.readOnly"></textarea>
    </nz-form-control>
</nz-form-item>

<ng-template #cfgTpl>
    <nz-tabset [(nzSelectedIndex)]="config.tabIndex">
        <nz-tab nzTitle="外观">

            <nz-form-item>
                <nz-form-label [nzRequired]="true">字段</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.field" placeholder="field(表单内唯一)">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>控件标签</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.label" placeholder="请输入标签">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>隐藏冒号</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.noColon"></nz-switch>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>是否必填</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.required"></nz-switch>
                </nz-form-control>
                <nz-form-label>是否只读</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.readOnly"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>错误提示</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.msg"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <button nz-button nzType="primary" nzBlock (click)="validate()">验证</button>
            </nz-form-item>
        </nz-tab>

    </nz-tabset>

</ng-template>