.process-timeline {
  .time-line-title {
    border-bottom: 1px solid #F2F2F2FF;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time-line-card {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
  }

  .remark-p {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 0;
    padding: 1rem 0.75rem 1rem 1rem;

    img {
      max-width: 100%;
    }

    .w-30p {
      width: 30%;
    }

    .w-50p {
      width: 50%;
    }

    .w-100p {
      width: 100%;
    }

    ol {
      li {
        margin-left: 15px;
        list-style-type: decimal;
      }
    }

    ul {
      li {
        margin-left: 15px;
        list-style-type: disc;
      }
    }

    blockquote {
      background-color: #f5f2f0;
      border-left: 8px solid #B4D5FF;
      display: block;
      font-size: 100%;
      line-height: 1.5;
      margin: 10px 0;
      padding: 10px;
    }

    table {
      width: 100%;
      text-align: center;
      border-radius: 0.25rem 0.25rem 0 0;
      border-collapse: separate;
      border-spacing: 0;

      th {
        width: auto !important;
        position: relative;
        color: #394161;
        font-weight: 500;
        background: #eceef4;
        border-bottom: 1px solid #f0f0f0;
        transition: background 0.3s ease;
        padding: 8px 16px;

        &:first-child {
          border-top-left-radius: 0.25rem;
        }

        &:last-child {
          border-top-right-radius: 0.25rem;
        }

        &:not(:last-child)::before {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 1.6em;
          background-color: rgba(0, 0, 0, 0.06);
          transform: translateY(-50%);
          transition: background-color 0.3s;
          content: '';
        }
      }

      td {
        border-bottom: 1px solid #f0f0f0;
        transition: background 0.3s;
        padding: 16px;
        overflow-wrap: break-word;
      }
    }

    .emo-i {
      display: inline-block;
      width: 28px;
      height: 28px;
      flex-shrink: 0;
    }
  }
}

.avatar-wrap {
  background-color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 48px;
    height: 48px;
  }
}

@media print {
  .id-fc {
    // 打印时字体色要调整回黑色
    position: relative;
    z-index: 1;
    background-image: none;
    -webkit-print-color-adjust: exact;
  }
  // 打印的时候隐藏按钮
  .ant-btn {
    display: none !important;
  }
}

.id-fc {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(310deg, #ea0606, #ff667c);
  // 选中文字的时候，变回白色
  &::selection {
    -webkit-text-fill-color: #fff;
  }
}


