.process-timeline {
  .time-line-title {
    border-bottom: 1px solid rgba(55,48,163,0.2);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .time-line-card {
    margin-top: 24px;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
  }

}

.avatar-wrap {
  background-color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 48px;
    height: 48px;
  }
}

@media print {
  .id-fc {
    // 打印时字体色要调整回黑色
    position: relative;
    z-index: 1;
    background-image: none;
    -webkit-print-color-adjust: exact;
  }
  // 打印的时候隐藏按钮
  .ant-btn {
    display: none !important;
  }
}

.id-fc {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(310deg, #ea0606, #ff667c);
  // 选中文字的时候，变回白色
  &::selection {
    -webkit-text-fill-color: #fff;
  }
}


