<nz-form-item>
  <nz-form-label [nzSpan]="config.labelSpan" [nzNoColon]="config.noColon"
                 [nzRequired]="config.required">{{config.label}}</nz-form-label>
  <nz-form-control [nzValidateStatus]="status" [nzSpan]="config.span" [nzErrorTip]="config.msg">
    <nz-select [nzPlaceHolder]="config.placeholder" [(ngModel)]="config.value" [nzDisabled]="config.readOnly">
      <nz-option *ngFor="let item of config.options?.split('\n')" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
