<nz-form-item>
    <nz-form-label [nzSpan]="config.labelSpan" [nzNoColon]="config.noColon"
                   [nzRequired]="config.required">{{ config.label }}
    </nz-form-label>
    <nz-form-control [nzValidateStatus]="status" [nzSpan]="config.span" [nzErrorTip]="config.msg">
        <nz-select [nzPlaceHolder]="config.placeholder" [(ngModel)]="config.value" [nzDisabled]="config.readOnly">
            @for (item of opts; track item.value) {
                <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            }
        </nz-select>
    </nz-form-control>
</nz-form-item>

<ng-template #cfgTpl>
    <nz-tabset [(nzSelectedIndex)]="config.tabIndex">
        <nz-tab nzTitle="外观">

            <nz-form-item>
                <nz-form-label [nzRequired]="true">字段</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.field" placeholder="field(表单内唯一)">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>控件标签</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.label" placeholder="请输入标签">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>占位语句</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.placeholder">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>栅格宽度</nz-form-label>
                <nz-form-control>
                    <nz-input-number style="width: 100%" [nzMin]="0" [nzMax]="24"
                                     [(ngModel)]="config.dyColSpan"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>标签宽度</nz-form-label>
                <nz-form-control>
                    <nz-input-number style="width: 100%" [nzMin]="0" [nzMax]="24"
                                     [(ngModel)]="config.labelSpan"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>控件宽度</nz-form-label>
                <nz-form-control>
                    <nz-input-number style="width: 100%" [nzMin]="0" [nzMax]="24"
                                     [(ngModel)]="config.span"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>模式</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="config.mode" (ngModelChange)="changeMode($event)">
                        <nz-option nzLabel="单选" nzValue="default"></nz-option>
                        <nz-option nzLabel="多选" nzValue="multiple"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>隐藏冒号</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.noColon"></nz-switch>
                </nz-form-control>
                <nz-form-label>允许清除</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.allowClear"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>是否必填</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.required"></nz-switch>
                </nz-form-control>
                <nz-form-label>是否只读</nz-form-label>
                <nz-form-control>
                    <nz-switch [(ngModel)]="config.readOnly"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>选项</nz-form-label>
                <nz-form-control>
                <textarea rows="4" placeholder="key和value请|分隔，多个选项请换行" nz-input [(ngModel)]="config.options"
                          (blur)="resolveOptions()"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>错误提示</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="config.msg"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <button nz-button nzType="primary" nzBlock (click)="validate()">验证</button>
            </nz-form-item>
        </nz-tab>


        <nz-tab nzTitle="高级">
            <nz-divider nzPlain nzText="数据源" nzOrientation="center"></nz-divider>
            <nz-form-item>
                <nz-form-label>URL</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="http://api.dy-form.com/user" [(ngModel)]="config.url">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>快照模式</nz-form-label>
                <nz-form-control>
                    <label nz-checkbox [(ngModel)]="config.snapshot">是</label>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>响应字段</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: data.ssicId" [(ngModel)]="config.res"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>LABEL</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: label" [(ngModel)]="config.resLabel"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>LABEL2</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: label" [(ngModel)]="config.resLabel2"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>LABEL3</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: label" [(ngModel)]="config.resLabel3"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>VALUE</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: value" [(ngModel)]="config.resValue"/>
                </nz-form-control>
            </nz-form-item>
            <nz-divider nzPlain nzText="联动" nzOrientation="center"></nz-divider>
            <nz-form-item>
                <nz-form-label>true时隐藏</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="eg: field=='123'" [(ngModel)]="config.cascade"/>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>

    </nz-tabset>

</ng-template>