:host{
  display: flex;
}
.app-wrap {
  width: 100%;
  min-height: 100vh;
  //background: #f8f9fa;
  background: rgb(245,245,245);
  //background: linear-gradient(105deg, #ff241a, #FFFFFF, #99CCFF);
}

.app-content {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  padding-bottom: 25px;
}