<nz-spin [nzSpinning]="loading">
    <nz-card class="card-shadow search-card">
        <div nz-form [nzLayout]="'inline'">
            <nz-form-item>
                <nz-form-label>ID</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="queryParams.id">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>序号</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="queryParams.seqNo_like">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>流程名称</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="queryParams.name_like">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>流程分组</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="queryParams.groupName_like">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <button nz-button [nzType]="'primary'" (click)="query(1)">
                    <span nz-icon [nzType]="'search'"></span>查询
                </button>
            </nz-form-item>
            <ng-container *acl="'pdadd'">
                <nz-form-item>
                    <button nz-button nzType="primary" routerLink="/process-designer">
                        <span nz-icon nzType="plus"></span>
                        添加流程
                    </button>
                </nz-form-item>
            </ng-container>
            <nz-form-item *acl="'inForm'">
                <nz-upload [nzBeforeUpload]="upload" [nzShowUploadList]="false"
                           [nzAccept]="['.json']">
                    <button nz-button>
                        <span nz-icon nzType="upload"></span>
                        导入
                    </button>
                </nz-upload>
            </nz-form-item>
        </div>
    </nz-card>

    <br>

    <nz-card class="card-shadow">
        <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false"
                  [nzTotal]="total"
                  [(nzPageIndex)]="queryParams.page"
                  [(nzPageSize)]="queryParams.size"
                  (nzPageIndexChange)="query($event)">
            <thead>
            <tr>
                <th>ID</th>
                <th>序号</th>
                <th>图标</th>
                <th>流程名称</th>
                <th>流程分组</th>
                <th>表单ID</th>
                <!--                <th>创建人</th>-->
                <th>创建日期</th>
                <!--                <th>修改日期</th>-->
                <th>部署状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                @for (item of basicTable.data; track item.id) {
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.seqNo }}</td>
                        <td>
                            <nz-avatar [nzSrc]="item.icon"></nz-avatar>
                        </td>
                        <td><a nz-tooltip [nzTooltipTitle]="item.description">{{ item.name }}</a></td>
                        <!--                <td>{{item.description}}</td>-->
                        <td>{{ item.groupName }}</td>
                        <td>
                            {{ item.formId }}
                            <ng-container *ngIf="item.formId">
                                <ng-container *acl="'formMgm'">
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a [routerLink]="'/form/form-manage'" [queryParams]="{id:item.formId}">link</a>
                                </ng-container>
                            </ng-container>
                        </td>
                        <!--                <td>{{item.creator}}</td>-->
                        <td>{{ item.createTime }}</td>
                        <!--                <td>{{item.updateTime}}</td>-->
                        <td>
                            <nz-switch [ngModel]="item.status" nzDisabled></nz-switch>
                        </td>
                        <td>
                            <ng-container *acl="'pdd'">
                                <a [routerLink]="'/process/process-config'" [queryParams]="{id:item.id}">
                                    <span nz-icon [nzType]="'file'"></span>
                                    配置
                                </a>
                                <nz-divider [nzType]="'vertical'"></nz-divider>
                            </ng-container>
                            @if (canQueryData(item)) {
                                <a [routerLink]="'/process/process-index'" [queryParams]="{definitionId:item.id}">
                                    <span nz-icon nzType="search"></span>
                                    查数
                                </a>
                            }
                            <ng-container *acl="'pdmd'">
                                <nz-divider [nzType]="'vertical'"></nz-divider>
                                <a [routerLink]="'/process-designer'" [queryParams]="{id:item.id}">
                                    <span nz-icon [nzType]="'edit'"></span>
                                    修改
                                </a>
                            </ng-container>
                            <ng-container *acl="'outDef'">
                                <nz-divider [nzType]="'vertical'"></nz-divider>
                                <a (click)="exportDef(item.id)"><span nz-icon nzType="download"></span> 导出</a>
                            </ng-container>
                            <ng-container *acl="'pdrm'">
                                <nz-divider [nzType]="'vertical'"></nz-divider>
                                <a nz-popconfirm
                                   nzPopconfirmTitle="删除流程定义和部署数据（但保留流程实例和流程图），确定删除吗？"
                                   (nzOnConfirm)="remove(item.id)" nzOkDanger><span nz-icon [nzType]="'delete'"></span>
                                    删除</a>
                            </ng-container>
                        </td>
                    </tr>
                }
            </tbody>
        </nz-table>
    </nz-card>
</nz-spin>