.title {
  color: #7B7B7B;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.description {
  color: #3c3c3c;
  display: block;
  margin-bottom: 1.75rem;
}
.card-content-responsive{
  max-width: 768px;
  margin: auto;
}