<nz-sider nzCollapsible [(nzCollapsed)]="collapsed" [nzTrigger]="null" [nzCollapsedWidth]="64" nzTheme="light"
          class="app-sidebar">
    <div class="bg-white">
        <div class="nav-user">
            <div class="nav-avatar" (click)="toggleCollapsed()">
                <img [src]="userInfo.avatar" alt="">
            </div>
            <div class="nav-user-info">
                <strong>{{ userInfo.username }}</strong>
                <p class="mb-0 text-gray-700 text-ellipsis" nz-tooltip
                   [nzTooltipTitle]="userInfo.email">{{ userInfo.email }}</p>
            </div>
        </div>
        <div class="nav-line"></div>
        <!-- 菜单栏 -->
        <ul nz-menu nzTheme="light" nzMode="inline">
            @for (item of menus; let idx = $index; track idx) {
                <!-- 第一层是菜单组 -->
                <li nz-menu-group [nzTitle]="item.text"></li>
                <!-- 默认第一个菜单组的第一个子菜单是展开的 -->
                @for (subMenu of item.children; let subIdx = $index; track subIdx) {
                    <li nz-submenu
                        [nzOpen]="idx==0&&subIdx==0"
                        [nzTitle]="subMenu.text"
                        [nzIcon]="subMenu.icon">
                        <ul>
                            @for (subMenuItem of subMenu.children;track $index) {
                                <li nz-menu-item nzMatchRouter>
                                    <a [routerLink]="subMenuItem.link">{{ subMenuItem.text }}</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
            <!--<li nz-menu-group nzTitle="菜单"></li>
            <li nz-submenu nzTitle="仪表盘" nzIcon="_workbench_ao">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/layout/_workbench_ao']">仪表盘</a>
                </li>
                <li nz-menu-item nzMatchRouter>test
                  &lt;!&ndash;<a [routerLink]="['/layout/test']">test</a>&ndash;&gt;
                </li>
                <li nz-menu-item>Alex</li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Team" nzIcon="team">
              <ul>
                <li nz-menu-item>Team 1</li>
                <li nz-menu-item>Team 2</li>
              </ul>
            </li>
            <li nz-menu-item>
              <span nz-icon nzType="file"></span>
              <span>File</span>
            </li>-->
        </ul>
    </div>
</nz-sider>
