<app-backward></app-backward>
<nz-card nzBorderless class="card-shadow card-radius search-card important-mt-5">
    <div nz-form [nzLayout]="'inline'">
        <nz-form-item>
            <nz-form-label>角色ID</nz-form-label>
            <nz-form-control>
                <input nz-input [ngModel]="queryParams.roleId" [disabled]="true">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>角色名称</nz-form-label>
            <nz-form-control>
                <input nz-input [ngModel]="roleName" [disabled]="true">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>统一认证</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="queryParams.id">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>用户名</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="queryParams.username">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>邮箱</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="queryParams.email">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button nz-button [nzType]="'primary'" (click)="query(1)">
                <span nz-icon [nzType]="'search'"></span>查询
            </button>
        </nz-form-item>
    </div>
</nz-card>
<br>
<nz-card class="card-radius card-shadow">
    <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false"
              [nzTotal]="total"
              [(nzPageIndex)]="queryParams.page"
              [(nzPageSize)]="queryParams.size"
              (nzPageIndexChange)="query($event)" [nzLoading]="loading">
        <thead>
        <tr>
            <th>统一认证</th>
            <th>用户名</th>
            <th>邮箱</th>
        </tr>
        </thead>
        <tbody>
            @for (item of basicTable.data; track item.id) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
</nz-card>