<nz-form-item>
    <nz-form-label [nzSpan]="config.labelSpan" [nzNoColon]="config.noColon"
                   [nzRequired]="config.required">{{ config.label }}
    </nz-form-label>
    <nz-form-control [nzValidateStatus]="status" [nzSpan]="config.span" [nzErrorTip]="config.msg">
        @for (item of opts; track item.value) {
            <label nz-checkbox [nzValue]="item.value" [nzChecked]="isCheck(item.value)"
                   (nzCheckedChange)="change($event,item.value)"
                   [nzDisabled]="config.readOnly">{{ item.label }}</label>
        }
    </nz-form-control>
</nz-form-item>
